<h1 class="display-4">{{ itemGeneralName }}</h1>

<div class="mt-3">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Expire Date</th>
      <th scope="col">Quantity</th>
      <th scope="col">Change quantity</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items" class="center-td" >
      <td>{{ item.productName }}</td>
      <td>{{ item.expireDate | date:'dd/MM/yy, h:mm a' }}</td>
      <td>{{ item.quantityCurrent }}/{{item.quantityTotal}} {{item.unit}}</td>
      <td>
        <div style="position: relative; display: inline-block;">
          <!-- Link Triggering Custom Modal -->
          <a class="btn btn-sm btn-danger me-2" style="z-index: 0"
             (click)="toggleCustomModal(item.itemId)"
             aria-label="Decrement item">
            -
          </a>

          <!-- Custom Modal with Text Input -->
          <div *ngIf="checkModal(item.itemId, 0)" class="custom-modal">
            <div class="row">
              <div class="col">
                Subtract Quantity:
                <input type="number" class="form-control" min=1  [max]="item.quantityCurrent" #quantityInput>
              </div>
              <div class="col">
                <button type="button" class="btn btn-sm btn-primary" style="width: 100%" (click)="onSave(item.itemId, quantityInput.value, 0)">✓</button>
              </div>
            </div>
          </div>
        </div>

        <div style="position: relative; display: inline-block;">
          <!-- Link Triggering Custom Modal -->
          <a class="btn btn-sm btn-success" style="z-index: 0"
             (click)="toggleCustomModal1(item.itemId)"
             aria-label="Increment item">
            +
          </a>

          <!-- Custom Modal with Text Input -->
          <div *ngIf="checkModal(item.itemId, 1)" class="custom-modal">
            <div class="row">
              <div class="col">
                Add Quantity:
                <input type="number" class="form-control" min=1 #quantityInput>
              </div>
              <div class="col">
                <a class="btn btn-sm btn-primary" style="width: 100%" (click)="onSave(item.itemId, quantityInput.value + '', 1)">✓</a>
              </div>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div class="btn-group">
          <a class="btn btn-sm btn-primary"
             [routerLink]="[item.itemId, 'detail']"
             aria-label="Show item details">
            <i class="bi bi-info-lg"></i>
            Details
          </a>
          <a class="btn btn-sm btn-warning"
             [routerLink]="[item.itemId, 'edit']"
             aria-label="Edit item">
            <i class="bi bi-pencil"></i>
            Edit
          </a>
          <a class="btn btn-sm btn-danger"
             (click)="delete(parseInt(item.itemId))"
             aria-label="Delete item">
            <i class="bi bi-trash"></i>
            Delete
          </a>
          <a class="btn btn-sm btn-toolbar"
             (click)="addToShoppingList(item)"
             aria-label="Add item to shopping list">
            <i class="bi bg-info-subtle"></i>
            Buy
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
