<div class="container">
  <div class="row">
    <div class="col col-10">
      <h1 class="display-4">Overview for {{itemGeneralName}}</h1>
    </div>
    <div class="col mt-4">
      <button type="button" class="btn btn-secondary" [routerLink]="['/digital-storage']">
        <i class="bi bi-arrow-left"></i> Back
      </button>
    </div>
  </div>
</div>

<div class="mt-3">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Expire Date</th>
      <th scope="col">Quantity</th>
      <th scope="col">Change quantity</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items" class="center-td" >
      <td>{{ item.productName }}</td>
      <td>{{ item.expireDate | date:'dd.MM.yyyy' }}</td>
      <td>{{ item.quantityCurrent }}/{{item.quantityTotal}} {{item.unit.name}}</td>
      <td>
        <div class="d-flex">
          <div class="input-group input-group-sm me-2">
            <input type="number"
                   id="numberInput"
                   class="form-control"
                   [(ngModel)]="numberInput"
                   [size]="4"
                   placeholder="Quantity">

            <button class="btn btn-success"
                    (click)="changeItemQuantity(item, numberInput, QuantityChange.INCREASE)"
                    aria-label="Increase item quantity">
              <i class="bi bi-plus-lg"></i>
            </button>

            <button class="btn btn-danger"
                    (click)="changeItemQuantity(item, numberInput, QuantityChange.DECREASE)"
                    aria-label="Decrease item quantity">
              <i class="bi bi-dash-lg"></i>
            </button>
          </div>
        </div>
      </td>

      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-primary"
             [routerLink]="['/item', item.itemId, 'detail']"
             aria-label="Show item details">
            <i class="bi bi-info-lg"></i>
            Details
          </button>
          <button class="btn btn-sm btn-warning"
             [routerLink]="['/item', item.itemId, 'edit']"
          aria-label="Edit item">
            <i class="bi bi-pencil"></i>
            Edit
          </button>
          <button type="button"
                  class="btn btn-sm btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#confirm-delete-modal"
                  aria-label="Delete item"
          >
            <i class="bi bi-trash"></i>
            Delete
          </button>
          <button class="btn btn-sm btn-info"
             (click)="addToShoppingList(item)"
             aria-label="Add item to shopping list">
            <i class="bi bi-cash"></i>
            Buy
          </button>
        </div>
        <app-confirm-delete-dialog
          deleteInfo="item"
          [deleteName]="item.productName"
          (confirm)="delete(item)">
        </app-confirm-delete-dialog>
      </td>
    </tr>
    </tbody>
  </table>
</div>
