<form class="d-flex flex-row align-items-end w-auto mb-3">
  <button type="submit" hidden="hidden">submit</button>
  <div class="flex-grow-1">
    <label for="searchTitle" class="col-form-label">
      Title
    </label>
    <input type="text" id="searchTitle" name="searchTitle"
           class="form-control" [(ngModel)]="searchParameters.productName"
           (change)="loadStorage()"
    >
  </div>

  <div class="ms-1">
    <label for="fillLevel" class="col-form-label">
      Fill level
    </label>
    <select id="fillLevel" name="fillLevel"
            class="form-select" [(ngModel)]="searchParameters.fillLevel"
            (change)="loadStorage()"
    >
      <option value="" selected>Any</option>
      <option value="full">High quantity</option>
      <option value="nearly_empty">Medium quantity</option>
      <option value="empty">Low quantity</option>

    </select>
  </div>

  <div class="ms-1 d-flex flex-column justify-content-end">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <input type="radio"
             class="btn-check"
             name="orderType"
             id="orderName"
             autocomplete="off"
             [checked]="searchParameters.orderBy === OrderType.PRODUCT_NAME"
             [(ngModel)]="searchParameters.orderBy" [value]="OrderType.PRODUCT_NAME"
             (change)="loadStorage()">
      <label class="btn btn-outline-primary" for="orderName">Name</label>

      <input type="radio"
             class="btn-check"
             name="orderType"
             id="orderQuantity"
             autocomplete="off"
             [checked]="searchParameters.orderBy === OrderType.QUANTITY_CURRENT"
             [(ngModel)]="searchParameters.orderBy" [value]="OrderType.QUANTITY_CURRENT"
             (change)="loadStorage()">
      <label class="btn btn-outline-primary" for="orderQuantity">Quantity</label>
    </div>
  </div>
</form>


<div class="container">
  <h1 class="display-4"></h1>
  <div class="container">
    <div class="row">
      <div class="col col-10">
        <h1 class="display-4">In Stock Items</h1>
      </div>
      <div class="col mt-4">
        <button type="button"
                class="btn btn-primary"
                [routerLink]="['/item/create']">
          <i class="bi bi-plus-lg"></i>
          Add Item
        </button>
      </div>
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col" *ngFor="let item of items">
      <a style="text-decoration: none"
         [routerLink]="[item.generalName]"
         aria-label="Show item details">
        <app-item-card [title]="item.generalName" [quantity]="item.quantityCurrent" [quantityTotal]="item.quantityTotal"
                       [unit]="item.unit.name"
        ></app-item-card>
      </a>
    </div>
  </div>
</div>

<div class="container ">
  <h1 class="display-4">Always in Stock Items</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <div class="row row-cols-4">
    <div class="col" *ngFor="let item of itemsAIS">
      <a style="text-decoration: none"
         [routerLink]="[item.generalName]"
         aria-label="Show item details">
        <app-item-card [title]="item.generalName" [quantity]="item.quantityCurrent" [quantityTotal]="item.quantityTotal"
                       [unit]="item.unit.name"
        ></app-item-card>
      </a>
    </div>
  </div>
</div>
