<form class="d-flex flex-row w-auto mb-3">

  <button type="submit" hidden="hidden">submit</button>
  <div class="flex-grow-1">
    <label for="searchTitle" class="col-form-label">
      Title
    </label>
    <input type="text" id="searchTitle" name="searchTitle"
           class="form-control" [(ngModel)]="searchParameters.productName"
           (change)="loadStorage()"
    >
  </div>
  <div class="flex-grow-1">
    <label for="searchBrand" class="col-form-label">
      Brand
    </label>
    <input type="text" id="searchBrand" name="searchBrand"
           class="form-control" [(ngModel)]="searchParameters.brand"
           (change)="loadStorage()"
    >
  </div>

  <div class="ms-1">
    <label for="ExpirationDateStart" class="col-form-label">
      Expiration Date start
    </label>

    <input type="date" id="ExpirationDateStart" name="expirationDateStart"
           pattern="\d{4}-\d{2}-\d{2}"
           placeholder="yyyy-mm-dd"
           class="form-control"
           [(ngModel)]="searchParameters.expireDateStart"
           (change)="loadStorage()"
    >
  </div>
  <div class="ms-1">
    <label for="ExpirationDateEnd" class="col-form-label">
      Expiration Date end
    </label>

    <input type="date" id="ExpirationDateEnd" name="expirationDateEnd"
           pattern="\d{4}-\d{2}-\d{2}"
           placeholder="yyyy-mm-dd"
           class="form-control"
           [(ngModel)]="searchParameters.expireDateEnd"
           (change)="loadStorage()"
    >
  </div>
  <div class="ms-1">
    <label for="searchBrand" class="col-form-label">
      Fill level
    </label>
    <select id="searchBradsnd" name="searchBrand"
            class="form-select" [(ngModel)]="searchParameters.fillLevel"
            (change)="loadStorage()"
    >
      <option></option>
      <option value="full">High quantity</option>
      <option value="nearly_empty">Medium quantity</option>
      <option value="empty">Low quantity</option>

    </select>
  </div>

  <div class="ms-1 btn-group"
       role="group"
       aria-label="Basic radio toggle button group"
  >
    <input type="radio"
           class="btn-check"
           name="orderType"
           id="orderName"
           autocomplete="off"
           [checked]="searchParameters.orderBy === OrderType.PRODUCT_NAME"
           [(ngModel)]="searchParameters.orderBy"
           [value]="OrderType.PRODUCT_NAME"
           (change)="loadStorage()">
    <label class="btn btn-outline-primary"
           for="orderName">
      Name
    </label>

    <input type="radio"
           class="btn-check"
           name="orderType"
           id="orderQuantity"
           autocomplete="off"
           [checked]="searchParameters.orderBy === OrderType.QUANTITY_CURRENT"
           [(ngModel)]="searchParameters.orderBy"
           [value]="OrderType.QUANTITY_CURRENT"
           (change)="loadStorage()">
    <label class="btn btn-outline-primary"
           for="orderQuantity">
      Quantity
    </label>

    <input type="radio"
           class="btn-check"
           name="orderType"
           id="orderExpirationDate"
           autocomplete="off"
           [checked]="searchParameters.orderBy === OrderType.EXPIRE_DATE"
           [(ngModel)]="searchParameters.orderBy"
           [value]="OrderType.EXPIRE_DATE"
           (change)="loadStorage()">
    <label class="btn btn-outline-primary"
           for="orderExpirationDate">
      Expiration Date
    </label>
  </div>

</form>


<div class="container ">
  <h1 class="display-4">In Stock</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <div class="row row-cols-4">
    <div class="col" *ngFor="let item of items">
      <a style="text-decoration: none"
         [routerLink]="['item', item.generalName ,'list']"
         aria-label="Show item details">
        <app-item-card [title]="item.generalName" [quantity]="item.quantityCurrent" [unit]="item.unit"
        ></app-item-card>
      </a>
    </div>
  </div>
</div>

<div class="container ">
  <h1 class="display-4">Always in Stock</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <div class="row row-cols-4">
    <div class="col" *ngFor="let item of itemsAIS">
      <a style="text-decoration: none"
         [routerLink]="['item', item.generalName, 'list']"
         aria-label="Show item details">
        <app-item-card [title]="item.generalName" [quantity]="item.quantityCurrent" [unit]="item.unit"
        ></app-item-card>
      </a>
    </div>
  </div>
</div>
<button type="button"
        class="btn btn-primary float-end m-3"
        [routerLink]="['item', 'create']">
  Add Item
</button>
