<div class="card mt-3 h-100">
  <div class="card-body">
    <h5 class="card-title">{{ truncateCategoryTitle(title) }}</h5>
    <div>
      <small>Quantity: </small>
      <small>{{ quantity }}&nbsp;/&nbsp;{{ quantityTotal }}&nbsp;{{ unit }}</small>
      <div class="progress my-1">
        <div class="progress-bar"
             [ngClass]="getColorBasedOnQuantity()"
             role="progressbar"
             [style.width]="getQuantityPercentage()"
             attr.aria-valuenow="{{quantity}}"
             attr.aria-valuemin="0"
             attr.aria-valuemax="{{quantityTotal}}">
        </div>
      </div>
    </div>
  </div>
</div>
