<div class="container">
  <h1 class="display-4">{{ heading }}</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>

  <form #form="ngForm" (submit)="onSubmit(form)">

    <div class="row row-cols-1">
      <div class="row p-2">
        <label for="title"
               class="col-form-label text-muted col-3"
        >
          Title
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="title"
                 name="title"
                 placeholder="title"
                 [(ngModel)]="expense.title">
        </div>
      </div>

      <div class="row p-2">
        <label for="description"
               class="col-form-label text-muted col-3"
        >
          Description
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="description"
                 name="amountInCents"
                 placeholder="Description"
                 [(ngModel)]="expense.description">
        </div>
      </div>

      <div class="row p-2">
        <label for="amountInCents"
               class="col-form-label text-muted col-3"
        >
          Amount
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="amountInCents"
                 name="amountInCents"
                 placeholder="Amount"
                 [(ngModel)]="expense.amountInCents">
        </div>
      </div>

      <div class="row p-2">
        <label for="createdAt"
               class="col-form-label text-muted col-3"
        >
          Timestamp
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="date"
                 class="form-control"
                 id="createdAt"
                 name="createdAt"
                 placeholder="Timestamp"
                 [selectionStart]="expense.createdAt"
                 [ngModel]="expense.createdAt | date:'yyyy-MM-dd'"
                 (ngModelChange)="expense.createdAt = $event">
        </div>
      </div>

      <div class="row p-2">
        <label for="paidBy"
               class="col-form-label text-muted col-3"
        >
          Payer
        </label>
        <div class="col-md-10 col-lg-8">
          <app-user-dropdown
            id="paidBy"
            [users]="users"
            [(activatedUser)]="expense.paidBy">
          </app-user-dropdown>
        </div>

        <div class="row p-2 mt-2">
          <label for="splitBy"
                 class="col-form-label text-muted col-4"
          >
            Split Strategy
          </label>
          <div class="col-8">
            <app-radio-buttons-component
              id="splitBy"
              [(bindingObject)]="selectedSplitBy"
              [options]="splitByOptions"
              (bindingObjectChange)="onSplitByChange()"
            >
            </app-radio-buttons-component>
          </div>
        </div>
      </div>


      <div class="row p-2">
        <span class="col-4"></span>
        <div class="col-8">
          <h3>Paid for</h3>
          <app-show-user-for-expense
            id="users"
            [(users)]="this.expense.debitUsers"
          ></app-show-user-for-expense>
        </div>
      </div>

    </div>
    <button type="submit"
            class="btn btn-primary float-end"
            [disabled]="!form.valid"
    >
      {{ submitButtonText }}
    </button>

  </form>
</div>
