<div class="jumbotron mt-5 text-center">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2>
        <i class="bi bi-person-circle" style="font-size: 2rem; vertical-align: middle;"></i>
        Account Details
      </h2>
      <p>Email: {{ user?.email }}</p>
    </div>
  </div>
</div>
<div class="mt-4 d-flex flex-row">
  <button type="submit"
          style="margin:5px;"
          class="btn btn-primary"
          type="submit"
  >
    <i class="bi bi-pencil"></i>
    Edit
  </button>
</div>
