<h1 class="display-4">{{shoppingList?.listName}}</h1>
<form>
  <div class="form-elements">
    <div class="col-md-2 col-lg-2 mt-2">
      <select class="form-select form-select-md"
              name="selectedShoppingList"
              [(ngModel)]="selectedShoppingList"
              (change)="onShoppingListChange()">
        <ng-container *ngIf="!selectedShoppingList">
          <option value="" disabled selected hidden>Select Shopping List</option>
        </ng-container>
        <option *ngFor="let list of shoppingLists" [value]="list.id" >
          {{ list.listName }}
        </option>
      </select>
    </div>
    <button type="button" class="btn btn-primary m-3" (click)="navigateToCreateList()">Add new list</button>
  </div>
</form>

<br>

<form class="d-flex flex-row w-auto mb-3">
  <div class="mt-3">
    <div style="margin-right: 50px" class="flex-grow-1">
      <label for="searchTitle" class="col-form-label">
        Name
      </label>
      <input type="text" id="searchTitle" name="searchTitle"
             class="form-control" [(ngModel)]="searchParams.productName"
            (change)="getItems()">
    </div>
  </div>
  <div class="mt-3">
    <div class="flex-grow-1">
      <label for="searchTitle" class="col-form-label">
        Label
      </label>
      <input type="text" id="searchTitle1" name="searchTitle"
             class="form-control" [(ngModel)]="searchParams.label"
             (change)="getItems()">
    </div>
  </div>
</form>

<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Labels</th>
    <th scope="col">Quantity</th>
    <th scope="col">Details</th>
    <th scope="col">Mark</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.productName }}</td>
    <td>
      <span *ngFor="let label of item.labels" style="font-weight: bold" [style.color]="label.labelColour">{{ label.labelValue }}</span>
    </td>
    <td>{{ item.quantityTotal}}{{item.unit.name}}</td>
    <td>
      <a *ngIf="item.productName !== null" (click)="navigateToEditItem(item.itemId + '')" class="btn btn-sm btn-warning">
        <i class="bi bi-pencil">Edit</i>
      </a>
    </td>
    <td>
      <input type="checkbox" [checked]="item.check" (change)="updateCheckedItems(item)">
    </td>


  </tr>


  </tbody>
</table>

<button style="margin-top: 30px; margin-right: 20px;" type="button"
        class="btn btn-primary  m-3" (click)="navigateToCreateItem()">Add item</button>

<button *ngIf="!checkId()"
        style="margin-top: 30px; margin-right: 20px;"
        type="button" class="btn btn-primary  m-3" (click)="deleteList()">
  Delete List
</button>

<button *ngIf="!checkIsEmpty()"
        style="margin-top: 30px; margin-right: 20px;" type="button" class="btn btn-primary  m-3" (click)="deleteCheckedItems()">Delete</button>

<button *ngIf="!checkIsEmpty()"
        style="margin-top: 30px; margin-right: 20px;" type="button" class="btn btn-primary  m-3" (click)="transferToStorage()">Bought</button>









