<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="display-5">Statistics</h1>
    </div>

    <div class="col-2 mt-3">
      <select class="form-control" id="graphType" [(ngModel)]="selectedGraphType">
        <option value="barchart">Bar Chart</option>
        <option value="radar">Radar Chart</option>
      </select>
    </div>
    <div class="col-2 mt-3">
      <a class="btn btn-primary"
         [routerLink]="['/expense/create']">
        New Expense
      </a>
    </div>
    <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  </div>


  <ng-container *ngIf="selectedGraphType === 'barchart'">
    <app-barchart-vertical [reloadSubject]="reloadGraph.asObservable()"></app-barchart-vertical>
  </ng-container>

  <ng-container *ngIf="selectedGraphType === 'radar'">
    <app-radar [reloadSubject]="reloadGraph.asObservable()"></app-radar>
  </ng-container>

  <h1 class="display-5">Debits</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <div class="d-flex justify-content-center">
    <app-debits [balanceDebits]="balanceDebits"
                (reloadData)="reloadData()"
    ></app-debits>
  </div>
</div>
