<div class="container ">
  <h1 class="display-4">Scan the product</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <div class="row row-cols-4">
  </div>
</div>


<div class="container">
  <h1 class="display-4">{{ heading }}</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>

  <form #form="ngForm" [class.was-validated]="form.submitted" (submit)="onSubmit(form)">

    <div class="row row-cols-1">
      <div class="row p-2">
        <label for="ean"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          EAN Number
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="ean"
                 name="ean"
                 placeholder="EAN Number"
                 [(ngModel)]="item.ean">
        </div>
      </div>

      <div class="row p-2">
        <label for="generalName"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          General Name
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="generalName"
            name="generalName"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="false"
            [(ngModel)]="item.generalName"
            [formatModel]="formatGeneralName"
            [suggestions]="generalNameSuggestions"
            placeholder="General Name"
          ></app-autocomplete>
        </div>
      </div>

      <div class="row p-2">
        <label for="productName"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Product Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="productName"
                 name="productName"
                 placeholder="Product Name"
                 [(ngModel)]="item.productName">
        </div>
      </div>

      <div class="row p-2">
        <label for="brand"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Brand
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="brand"
            name="brand"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="false"
            [(ngModel)]="item.brand"
            [formatModel]="formatBrand"
            [suggestions]="brandSuggestions"
            placeholder="Brand"
          ></app-autocomplete>
        </div>
      </div>

      <div class="row p-2">
        <label for="currentQuantityAndUnit"
               class="col-form-label text-muted col-md-2 col-lg-4 mt-2"
        >
          Quantity
        </label>
        <div class="col-md-4 col-lg-3 mt-2">
          <input type="number"
                 class="form-control"
                 id="currentQuantityAndUnit"
                 name="currentQuantityAndUnit"
                 placeholder="Current Quantity"
                 [(ngModel)]="item.quantityCurrent">
        </div>
        <div class="col-md-4 col-lg-3 mt-2">
          <input type="number"
                 class="form-control"
                 id="totalQuantityAndUnit"
                 name="totalQuantityAndUnit"
                 placeholder="Total Quantity"
                 [(ngModel)]="item.quantityTotal">
        </div>
        <div class="col-md-2 col-lg-2 mt-2">
          <select class="form-select form-select-md"
                  name="unit"
                  [(ngModel)]="item.unit">
            <option *ngFor="let unit of availableUnits"
                    [ngValue]="unit">
              {{formatUnitName(unit)}}
            </option>
          </select>
        </div>
      </div>

      <div class="row p-2">
        <label for="digitalStorage"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Digital Storage
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="digitalStorage"
            name="digitalStorage"
            class="col-md-10 col-lg-8"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="item.digitalStorage"
            [formatModel]="formatStorageName"
            [suggestions]="storageSuggestions"
            placeholder="Digital Storage"
          ></app-autocomplete>
        </div>
      </div>

      <div class="row p-2">
        <label for="description"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Description
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="textfield"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Description"
                 [(ngModel)]="item.description">
        </div>
      </div>

      <div class="row p-2">
        <label for="expireDate"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Expire Date
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="date"
                 class="form-control"
                 id="expireDate"
                 name="expireDate"
                 [(ngModel)]="item.expireDate">
        </div>
      </div>

      <div class="row p-2">
        <label for="alwaysInStock"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Always In Stock
        </label>
        <div class="form-check form-switch col-md-2 col-lg-2">
          <input class="form-check-input"
                 type="checkbox"
                 role="switch"
                 id="alwaysInStock"
                 name="alwaysInStock"
                 [(ngModel)]="item.alwaysInStock">
        </div>
        <div class="col-md-8 col-lg-6">
          <input class="form-control"
                 [disabled]="!item.alwaysInStock"
                 type="text"
                 id="minimumQuantity"
                 name="minimumQuantity"
                 [(ngModel)]="item.minimumQuantity"
                 placeholder="Minimum Quantity">
        </div>
      </div>

      <div class="row p-2"
           *ngIf="modeIsCreate"
      >
        <label for="addToFinance"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Add To Finance
        </label>
        <div class="form-check form-switch col-md-2 col-lg-2">
          <input class="form-check-input"
                 type="checkbox"
                 role="switch"
                 id="addToFinance"
                 name="addToFinance"
                 [(ngModel)]="item.addToFiance">
        </div>
        <div class="col-md-8 col-lg-6">
          <input type="number"
                 class="form-control"
                 [disabled]="!item.addToFiance"
                 id="price"
                 name="price"
                 placeholder="Price"
                 [(ngModel)]="priceInEuro">
        </div>

      </div>

      <div class="row p-2">
        <label for="boughtAt"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Brought At
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="boughtAt"
            name="boughtAt"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="false"
            [(ngModel)]="item.boughtAt"
            [formatModel]="formatBoughtAt"
            [suggestions]="boughtAtSuggestions"
            placeholder="Bought At">
          </app-autocomplete>
        </div>
      </div>

      <div class="row p-2">
        <label for="ingredients"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Ingredients
        </label>

        <div class="col-md-7 col-lg-5">
          <input type="text"
                 class="form-control"
                 placeholder="Ingredient"
                 id="ingredients"
                 #ingredientInput>
        </div>
        <div class="col-md-1 col-lg-1">
          <button type="button"
                  class="btn btn-light ms-2"
                  (click)="addIngredient(ingredientInput.value); ingredientInput.value = '' ">
            <i class="bi bi-plus-square"></i>
          </button>
        </div>
      </div>

      <div class="row p-2">
        <label for="ingredients"
               class="col-form-label text-muted col-md-2 col-lg-4 m-2"
        >
        </label>

        <div class="col-md-7 col-lg-5">
          <div *ngFor="let ingredient of item.ingredients; let i = index"
               class="border-bottom pb-2 pt-2">
            <span>
              {{ingredient.name}}

            </span>
            <button type="button"
                    class="btn btn-light float-end"
                    (click)="removeIngredient(i)">
              <i class="bi bi-trash" style="color: firebrick"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="submit"
            class="btn btn-primary float-end"
            [disabled]="!form.valid"
    >
      {{ submitButtonText }}
    </button>

  </form>
</div>
