<div *ngIf="modeIsCreate" class="container">
  <h1 class="display-4">Scan the product</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <div class="row ">
    <ngx-scanner-qrcode #action="scanner"
                        (event)="updateEAN($event)"

                        class="mt-2 h-50 w-75 mx-auto"
                        [hidden]="!action.isStart">
    </ngx-scanner-qrcode>
  </div>
  <div class="row mt-2 w-75 mx-auto ">
    <button type="button"
            [ngClass]="{'btn btn-primary': true, 'col-8': action.isStart}"
            (click)="toggleScanning()">
      {{action.isStart ? 'Stop' : 'Start Scanning'}}
    </button>

    <div *ngIf="action.isStart"
         class="col-4">
      <select #select
              (change)="action.playDevice(select.value)"
              class="form-select form-select-md">
        <option [value]="null" selected>Select device</option>
        <option *ngFor="let cameraDevice of action.devices.value; let i = index"
                [value]="cameraDevice.deviceId"
                [selected]="i == action.deviceIndexActive">
          {{i + 1 + ": " + (!cameraDevice.label ? 'Camera' : cameraDevice.label)}}
        </option>
      </select>

    </div>
  </div>
</div>


<div class="container">
  <h1 class="display-4">{{ heading }}</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>

  <form #form="ngForm" [class.was-validated]="form.submitted" (submit)="onSubmit(form)">

    <div class="row row-cols-1">
      <div class="row p-2">
        <label for="ean"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          EAN Number
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="ean"
                 name="ean"
                 placeholder="EAN Number"
                 [(ngModel)]="item.ean">
        </div>
      </div>

      <div class="row p-2">
        <label for="generalName"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          General Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="generalName"
                 name="generalName"
                 placeholder="General Name"
                 [(ngModel)]="item.generalName">
        </div>
      </div>

      <div class="row p-2">
        <label for="productName"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Product Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="productName"
                 name="productName"
                 placeholder="Product Name"
                 [(ngModel)]="item.productName">
        </div>
      </div>

      <div class="row p-2">
        <label for="brand"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Brand
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="brand"
                 name="brand"
                 placeholder="Brand"
                 [(ngModel)]="item.brand">
        </div>
      </div>

      <div class="row p-2">
        <label for="currentQuantityAndUnit"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Current Quantity
        </label>
        <div class="col-md-8 col-lg-5">
          <input type="number"
                 class="form-control"
                 id="currentQuantityAndUnit"
                 name="currentQuantityAndUnit"
                 placeholder="Quantity"
                 [(ngModel)]="item.quantityCurrent">
        </div>
        <div class="col-md-2 col-lg-3">
          <input type="text"
                 class="form-control"
                 id="currentUnit"
                 name="currentUnit"
                 placeholder="Unit"
                 [(ngModel)]="item.unit">
        </div>
        <label for="totalQuantityAndUnit"
               class="col-form-label text-muted col-md-2 col-lg-4 mt-2"
        >
          Total Quantity
        </label>
        <div class="col-md-8 col-lg-5 mt-2">
          <input type="number"
                 class="form-control"
                 id="totalQuantityAndUnit"
                 name="totalQuantityAndUnit"
                 placeholder="Quantity"
                 [(ngModel)]="item.quantityTotal">
        </div>
        <div class="col-md-2 col-lg-3 mt-2">
          <input type="text"
                 class="form-control"
                 id="totalUnit"
                 name="totalUnit"
                 placeholder="Unit"
                 [(ngModel)]="item.unit">
        </div>
      </div>

      <div class="row p-2">
        <label for="digitalStorage"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Digital Storage
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="digitalStorage"
            name="digitalStorage"
            class="col-md-10 col-lg-8"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="item.digitalStorage"
            [formatModel]="formatStorageName"
            [suggestions]="storageSuggestions"
            placeholder="Digital Storage"
          ></app-autocomplete>
        </div>
      </div>

      <div class="row p-2">
        <label for="description"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Description
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="textfield"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Description"
                 [(ngModel)]="item.description">
        </div>
      </div>

      <div class="row p-2">
        <label for="expireDate"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Expire Date
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="date"
                 class="form-control"
                 id="expireDate"
                 name="expireDate"
                 [(ngModel)]="item.expireDate">
        </div>
      </div>

      <div class="row p-2">
        <label for="alwaysInStock"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Always In Stock
        </label>
        <div class="form-check form-switch col-md-2 col-lg-2">
          <input class="form-check-input"
                 type="checkbox"
                 role="switch"
                 id="alwaysInStock"
                 name="alwaysInStock"
                 [(ngModel)]="item.alwaysInStock">
        </div>
        <div class="col-md-8 col-lg-6">
          <input class="form-control"
                 [disabled]="!item.alwaysInStock"
                 type="text"
                 id="minimumQuantity"
                 name="minimumQuantity"
                 [(ngModel)]="item.minimumQuantity"
                 placeholder="Minimum Quantity">
        </div>
      </div>

      <div class="row p-2"
           *ngIf="modeIsCreate"
      >
        <label for="addToFinance"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Add To Finance
        </label>
        <div class="form-check form-switch col-md-2 col-lg-2">
          <input class="form-check-input"
                 type="checkbox"
                 role="switch"
                 id="addToFinance"
                 name="addToFinance"
                 [(ngModel)]="item.addToFiance">
        </div>
        <div class="col-md-8 col-lg-6">
          <input type="number"
                 class="form-control"
                 [disabled]="!item.addToFiance"
                 id="price"
                 name="price"
                 placeholder="Price"
                 [(ngModel)]="priceInEuro">
        </div>

      </div>

      <div class="row p-2">
        <label for="boughtAt"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Brought At
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="boughtAt"
                 name="boughtAt"
                 placeholder="Bought At"
                 [(ngModel)]="item.boughtAt">
        </div>
      </div>

      <div class="row p-2">
        <label for="ingredients"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Ingredients
        </label>
        <div class="col-md-10 col-lg-8"
             id="ingredients">
          <span *ngFor="let ingredient of item.ingredients; let i = index"
                class="p-2">
            <div class="border-bottom">
              {{ingredient.name}}
              <button type="button"
                      class="btn btn-light ms-2"
                      (click)="removeIngredient(i)">
                <i class="bi bi-trash"></i>
                Delete
              </button>
            </div>
          </span>

          <input type="text"
                 class="form-control"
                 placeholder="Ingredient"
                 #ingredientInput>
          <button type="button"
                  class="btn btn-light ms-2"
                  (click)="addIngredient(ingredientInput.value)">
            <i class="bi bi-plus-square">Add</i>
          </button>
        </div>
      </div>
    </div>
    <button type="submit"
            class="btn btn-primary float-end"
            [disabled]="!form.valid"
    >
      {{ submitButtonText }}
    </button>

  </form>
</div>
