<div class="card h-100" [ngClass]="mode === 1 ? 'custom-card' : ''" [class.completed-chore]="completed">

  <div class="card-header">
    <h5 class="card-title">{{getTruncated(name, 23)}} </h5>
  </div>
  <div class="card-body">

    <p class="card-text" *ngIf="description">
      {{ getTruncated(description, 120) }}
    </p>

    <p class="card-text">Deadline:
      <span style="font-weight: bold" [ngClass]="getColorBasedOnDeadline()">
        {{ endDate | date }}
      </span>
    </p>

    <p *ngIf="mode === 0" class="card-text">User:
      {{ user }}
    </p>

  </div>
  <div class="card-footer">
    <p class="card-text">Points: {{ points }}</p>
  </div>
</div>
