<h1 class="display-4">My Chores</h1>
<hr>

<div style="width: 100%;margin-top: 20px; height: 100%;"></div>
<div class="row row-cols-4" style="gap: 20px" *ngIf="chores.length > 0">
  <div class="col" *ngFor="let chore of chores">
    <a style="text-decoration: none"
       aria-label="Show chore details">
      <app-my-chore-card [choreName]="chore.name"
                      [description]="chore.description"
                      [endDate]="chore.endDate"
                      [points]="chore.points"
                      [completed]="chore.completed"
                      (click)="updateChoreComplete(chore)">
      </app-my-chore-card>
    </a>
  </div>
</div>

<button *ngIf="!completedChoresIsEmpty()"
        class="btn btn-primary p-2" style="margin-top: 20px" (click)="deleteCompletedChores()" >
  Completed
</button>

<h3 *ngIf="chores.length === 0" style="color: #4caf50">You have completed all your tasks! Good job!</h3>
