<h1 class="display-4">My Chores</h1>
<hr>

<div style="width: 100%;margin-top: 20px; height: 100%;"></div>
<div class="row row-cols-4">
  <div class="col" *ngFor="let chore of chores">
    <a style="text-decoration: none"
       [routerLink]="['chores', 'details', chore.id]"
       aria-label="Show chore details">
      <app-chore-card [choreName]="chore.choreName"
                      [description]="chore.description"
                      [endDate]="chore.endDate"
                      [points]="chore.points"
                      [completed]="chore.completed"
                      (click)="updateChoreComplete(chore)">
      </app-chore-card>
    </a>
  </div>
</div>

<button *ngIf="!completedChoresIsEmpty()"
        class="btn btn-primary p-2" style="margin-top: 20px" (click)="deleteCompletedChores()" >
  Completed
</button>


