<div class="card mt-3" style="width: 18rem; height: 200px;">
  <div class="card-header text-black">
    <div class="row">
      <h5 class="card-title">{{truncateString(event.title, 20)}}</h5>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <p class="card-text">{{truncateString(event.description, 40)}}</p>
    </div>
    <div class="row">
      <p class="card-text">Date {{event.date}}</p>
    </div>
    <button type="button"
            class="btn btn-primary btn-sm position-absolute fixed-bottom end-50 m-3"
            [routerLink]="[event.id, 'edit']"
    >
      Edit
    </button>
  </div>
</div>
