<h1 class="display-4">All Chores</h1>

<form class="d-flex flex-row w-auto mb-3">
    <button type="submit" hidden="hidden">submit</button>

    <div class="flex-grow-1">
        <label for="searchChore" class="col-form-label">
            Responsible Person
        </label>
        <input type="text" id="searchChore"
               name="searchChore"
               class="form-control"
               [(ngModel)]="searchParams.userName"
               (ngModelChange)="loadChores()"
        >
    </div>

    <div class="ms-1">
        <label for="searchChoreLatestDeadline" class="col-form-label">
          Do Before
        </label>
        <input type="date" id="searchChoreLatestDeadline" name="searchChoreLatestDeadline"
               pattern="\d{4}-\d{2}-\d{2}"
               placeholder="yyyy-mm-dd"
               class="form-control"
               [(ngModel)]="searchParams.endDate"
               (ngModelChange)="loadChores()"
        >
    </div>

    <div class="ms-1">
        <label class="col-form-label">
            Actions
        </label>
        <div>
            <button class="btn btn-secondary" style="margin-right: 4px;" (click)="exportPDF()">
                Export PDF
            </button>
            <button class="btn btn-primary" style="margin-right: 4px;" (click)="assignChores()">
                Assign Chores
            </button>
          <button class="btn btn-primary" style="margin-right: 4px;" (click)="navigateToMyChores()">
            My Chores
          </button>
          <button class="btn btn-primary" style="margin-right: 4px;" (click)="navigateToPreference()">
            Preference
          </button>
          <button class="btn btn-warning" style="margin-right: 4px;" (click)="navigateToLeaderboard()">
            Leaderbord
          </button>
        </div>


    </div>

</form>

<div style="width: 100%; height: 100%; border: 1px black solid"></div>
<button class="btn btn-primary float-end p-2" style="margin-top: 20px" (click)="navigateToNewChore()">
  Add Chore
</button>

<div style="width: 100%;margin-top: 20px; height: 100%;"></div>
<div class="row row-cols-4">
    <div style="margin-bottom: 20px;" class="col" *ngFor="let chore of chores">
        <a style="text-decoration: none">
            <app-chore-card [name]="chore.name"
                            [description]="chore.description"
                            [endDate]="chore.endDate"
                            [points]="chore.points"
                            [user]="chore.user ? chore.user.firstName + ' ' + chore.user.lastName : ''"
            >
            </app-chore-card>
        </a>
    </div>
</div>
<div *ngIf="chores?.length === 0" style="text-align: center;">
  <h3>No chores found!</h3>
</div>



