.big-box-button {
  padding: 20px 40px;
  font-size: 18px;
  border: 2px solid #333;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  margin-left: 30px;

}


.big-box-button:hover {
  background-color: #ddd;
  color: #555;
}
