<div class="container ">
  <h1 class="display-4">{{heading}}</h1>
  <div style="width: 100%; height: 100%; border: 1px black solid"></div>
  <form #form="ngForm" [class.was-validated]="form.submitted" (submit)="onSubmit(form)">
    <div class="row row-cols-1">
      <div class="row p-2">
        <label for="title"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Title
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="title"
                 name="title"
                 placeholder="Title"
                 [(ngModel)]="event.title">
        </div>
      </div>

      <div class="row p-2">
        <label for="description"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Description
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Description"
                 [(ngModel)]="event.description"
          >
        </div>
      </div>
      <div class="row p-2">
        <label for="date"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Date
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="date"
                 class="form-control"
                 id="date"
                 name="date"
                 [(ngModel)]="event.date">
        </div>
      </div>

      <div class="row p-2">
        <label for="labels" class="col-form-label text-muted col-md-2 col-lg-4">Labels</label>
        <div class="col-md-10 col-lg-8" id="labels">
    <span *ngFor="let labelDto of event.labels; let i = index" class="p-2">
      <div class="border-bottom" [style.color]="labelDto.labelColour">

        <button type="button" class="btn btn-secondary p-1" (click)="removeLabel(i)">
          <i>Remove</i>
        </button>
        {{labelDto.labelValue}}
      </div>
    </span>

          <div class="row align-items-center">

            <div class="col-md-1">
              <a [(colorPicker)]="selectedLabelColor" [style.background]="selectedLabelColor"
                 class="btn btn-light ">
                <i class="form-control"></i>
              </a>
            </div>
            <div class="col-md-7">
              <input type="text" class="form-control" placeholder="Label" #labelInput>
            </div>
            <div class="col">
              <a class="btn btn-secondary p-1" (click)="addLabel(labelInput.value, selectedLabelColor)">
                <i>Save</i>
              </a>
            </div>

          </div>
        </div>
      </div>

    </div>

    <button type="submit"
            class="btn btn-secondary float-end"
            [disabled]="!form.valid"
    >
      {{ submitButtonText }}
    </button>

  </form>
</div>

