<app-confirm-delete-dialog
  deleteInfo="recipe"
  [deleteName]="getTruncated(recipe.title, 23)"
  (confirm)="delete()">
</app-confirm-delete-dialog>
<div class="card mt-3" style="width: 20rem; height: 16rem">
  <div class="card-header text-black">
    <div class="row">
      <h5 class="card-title">{{getTruncated(recipe.title, 23)}}</h5>
    </div>
  </div>
  <!--  </div>-->
  <div class="card-body">
    <div style="height: 6rem">
      <p [innerHTML]= " getTruncatedSummary()">

      </p>
    </div>
    <div class = "row" style="height: 2rem">
      <div class="col-6  ">
        <b>Servings: {{recipe.servings}}</b>
      </div>
      <div class="col-6  ">
        <b>Time: {{recipe.readyInMinutes}}min.</b>
      </div>
    </div>

    <div class="row justify-content-center ">
      <div class="col-3 mb-2 ">
        <button class="btn btn-outline-danger " data-bs-toggle="modal"
                data-bs-target="#confirm-delete-modal" aria-label="Delete recipe">Delete</button>
      </div>
      <div class="col-3 mb-2 ">
        <button class="btn btn-outline-info" (click)="detail()">Details</button>
      </div>
      <div class="col-3 mb-2">
        <button class="btn btn-outline-secondary" [routerLink]="[recipe.id, 'edit']">Edit</button>
      </div>
      <div class="col-3 mb-2">
        <button class="btn btn-success" (click)="cook()">Cook</button>
      </div>
    </div>
  </div>
</div>

