.leaderboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mat-card {
  padding: 20px;
  border: 1px solid #ccc;
}

.row-number-container {
  margin-bottom: 5px;
}

.row-number {
  font-size: 22px;
  font-weight: bold;
}

.points {
  font-style: italic;
  color: #4caf50;
}
