<h1 class="display-4">Leaderboard</h1>
<hr>

<div class="leaderboard-container">
  <mat-card *ngFor="let user of users; let i = index">
    <mat-card-content>
      <mat-list-item>
        <div class="row-number-container">
          <span [ngStyle]="getRowNumberStyle(i + 1)" class="row-number">{{ i + 1 }}</span>
        </div>
        <hr>
        <div style="font-weight: bold">{{ user.firstName }} {{user.lastName}}</div>
        <div class="points">{{ user.points }} points</div>
      </mat-list-item>
    </mat-card-content>
  </mat-card>
</div>
